
body {
  padding: 0;
  margin: 0;
}

#add-item-container {
  width: 100vw;
  height: 10.5vh;
  background: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

#add-item-input {
  width: 78vw;
  height: calc(10.5vh - 2vw);
  padding: 1vw;
  border: 0;
  margin: 0;
  font-size: 2vw;
}

#add-item-submit {
  float: right;
  background: #1e90ff;
  color: white;
  border: 0px;
  width: 20vw;
  height: 10.5vh;
  font-size: 2vw;
  padding: 1vw;
  margin: 0;
}

#todo-list-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding-top: 1vw;
  font-size: 1.5vw;
  font-family: sans-serif;
  width: 90vw;
  margin: 2vw;
  border-radius: 2px;
  margin-left: 4vw;
  margin-bottom: 0vw;
  height: 4vh;
  padding-left: 1vw;
  background: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

li:hover {
  text-decoration: line-through;
}
